.key {
  height: 30vmin;

  button {
    width: 100%;
    height: 100%;
    background-color: rgba(221, 221, 221, 0.411);
    border: 1px solid grey;
    color: black;
    border-radius: 0;
    font-size: 30px;
  }
}
